html,body{background:#eee}
#chat{height:480px;background:#fff;border:2px inset;overflow:auto}
.msg_login,.msg_logoff{color:#820}
.msg{color:#222}
#users{float:right;width:14em;overflow:auto;border:2px inset;height:480px}
